<?xml version="1.0"?>
<model>
  <name>OmniFanCar</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>

  <author>
    <name>Rhys Mainwaring</name>
    <email>rhys.mainwaring@me.com</email>
  </author>

  <description>
    A 4DOF OmniFanCar with ArduPilot integration.
  </description>
</model>